body {
    width: 100%;
    margin: auto;
    background-color: aquamarine;
}


#image{
    max-width: max-content;
    height: auto ;
    display: block;
}

img{

    align-items: center;

}

#title {
    text-align: center;
    padding: 5px;
    margin: auto;
}

#Headline {
    color: brown;
    text-align: center;
    font-weight: bold;
    font-family: 'Franklin Gothic Medium';
}

p {
    text-align: center;
    font-family: Arial;
    font-style: italic;
}

#Tribute-link {
    color: orangered;
    border: 2px solid black;
    cursor: pointer;
    text-decoration: none;
    border-radius: 5px;
}

#Tribute-link:hover {
    color: #000;
}

a {
    margin: 0 0 0 50%;
    
}